@import 'utils';
@import 'fonts';
@import 'typography';

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.body {
  background: hsl(311, 100%, 97%);
  font-family: Inter;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  &__top {
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    padding: 20px;
    box-sizing: border-box;

    margin-bottom: 32px;

    @include on-tablet {
      margin-bottom: 80px;
    }

    @include on-desktop {
      margin-bottom: 135px;
    }
    &__logo {
      display: flex;
    }

    &__links {
      display: none;
      @include on-desktop {
        display: flex;
      }
      &__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 64px;
        &__link {
          display: flex;
          align-items: center;
          &__text {
            color: #1c1a26;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: -0.01em;
            &--contact-us {
              color: #f9512e;
              font-weight: 500;
              font-size: 16px;
              line-height: 100%;
              letter-spacing: 0.02em;
              text-transform: uppercase;
            }
          }
          &__img {
            margin-right: 6px;
            width: 18px;
            height: 18px;
          }
        }
      }
    }

    &__burger {
      @include on-desktop {
        display: none;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include on-tablet {
      align-items: flex-start;
    }
    @include on-desktop {
      width: 100%;
      padding-left: 44px;
    }
  }

  &__middle {
    margin-bottom: 32px;

    @include on-desktop {
      width: 260px;
    }

    @include on-desktop {
      margin-bottom: 8px;
    }

    &__text {
      max-width: 288px;
      width: 100%;
      margin: 0 auto;
      color: #1c1a26;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      text-align: center;

      @include on-tablet {
        text-align: left;
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include on-tablet {
      margin-top: 100px;
    }
    @include on-desktop {
      margin-top: 0;
      width: 100%;
    }
    &__title {
      color: #f9512e;
      font-weight: 400;
      font-size: 64px;
      line-height: 85%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      text-align: center;

      @include on-tablet {
        position: relative;
        margin-bottom: -150px;
        z-index: 3;
      }

      @include on-desktop {
        font-size: 136px;
      }
    }

    &__box {
      @include on-tablet {
        position: relative;
        z-index: 2;
        margin-bottom: 80px;
      }

      @include on-desktop {
        position: absolute;
        top: 7%;
      }
      &__img {
        max-width: 288px;
        width: 100%;
        height: 290px;

        @include on-desktop {
          max-width: 544px;
          height: 546px;
        }
      }
    }

    &__btn {
      display: flex;
      align-items: center;
      gap: 6px;
      color: #f9512e;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      border: 2px solid #f9512e;
      padding: 20px 78px;
      border-radius: 16px;

      @include on-tablet {
        margin: 0 auto;
      }

      @include on-desktop {
        margin: 0;
        margin-top: 188px;
      }

      &__img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 16px 72px 16px;
  box-sizing: border-box;

  @include on-desktop {
    padding: 0 44px 56px 44px;
  }
}

.what-we-bake {
  margin-bottom: 72px;
  &__title {
    color: #f9512e;
    font-weight: 400;
    font-size: 48px;
    line-height: 85%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  &__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    margin-bottom: 56px;

    @include on-tablet {
      margin-bottom: 80px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 64px;
    justify-items: center;

    @include on-tablet {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 24px;
      column-gap: 80px;
    }

    @include on-desktop {
      grid-template-columns: repeat(2, minmax(0, 402px));
      row-gap: 80px;
      column-gap: 24px;
    }

    &__card {
      width: 100%;
      max-width: 288px;
      height: 492px;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      @include on-desktop {
        max-width: 402px;
        &:nth-child(3),
        &:nth-child(4) {
          transform: translateX(70%);
        }
      }
      &__img {
        position: absolute;
        top: 0;
        max-width: 288px;
        width: 100%;
        height: 356px;
        border-radius: 8px;
        @include on-desktop {
          max-width: 402px;
        }
      }

      &__title {
        color: #7f8096;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        padding-bottom: 16px;
      }

      &__desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.01em;
        padding-bottom: 8px;
      }

      &__btn {
        display: flex;
        align-items: center;
        padding-bottom: 8px;
        gap: 6px;
        color: #f9512e;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
      }
    }
  }
}

.about-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &__img {
    width: 100%;
    max-width: 400px;
    position: absolute;
    bottom: 14%;
    z-index: 2;
    pointer-events: none;

    @include on-tablet {
      max-width: 470px;
      bottom: 13%;
      left: 10%;
    }
  }
  &__top {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;

    @include on-tablet {
      position: relative;
      z-index: 3;
      flex-direction: row;
      gap: 24px;
    }
    &__title {
      color: #f9512e;
      font-weight: 400;
      font-size: 48px;
      line-height: 85%;
      letter-spacing: -0.05em;
      text-transform: uppercase;

      @include on-tablet {
        width: 328px;
      }
    }

    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;

      @include on-tablet {
        width: 328px;
      }
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: 1fr;
    gap: 48px;
    position: relative;

    @include on-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    &__card {
      display: flex;
      flex-direction: column;
      gap: 8px;
      z-index: 2;
      &__title {
        color: #f9512e;
        font-weight: 400;
        font-size: 96px;
        line-height: 85%;
        letter-spacing: -0.05em;
        text-transform: uppercase;
      }

      &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.01em;
      }
    }
  }
}

.footer {
  background-color: #1c1a26;
  padding: 56px 16px;

  display: grid;
  grid-template-columns: 1fr;

  @include on-tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  &__top {
    display: flex;
    flex-direction: column;

    &__logo {
      margin-bottom: 40px;
    }

    &__menu {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 64px;
      &__text {
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.01em;

        &--menu {
          color: grey;
          font-weight: 500;
          line-height: 100%;
          letter-spacing: 0.02em;
          text-transform: uppercase;
        }
      }
    }
  }

  &__contact-us {
    display: flex;
    flex-direction: column;
    &__title {
      margin-bottom: 40px;
      color: #fff;
      font-weight: 400;
      font-size: 48px;
      line-height: 85%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
    }

    &__numbers {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 40px;
      &__number {
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.01em;
        &--call-us {
          color: grey;
          font-weight: 500;
          line-height: 100%;
          letter-spacing: 0.02em;
          text-transform: uppercase;
        }
      }
    }

    &__email-us {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 40px;
      &__text {
        color: grey;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
      }

      &__email {
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.01em;
      }
    }
  }

  &__network {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    @include on-tablet {
      grid-column: span 2;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    @include on-tablet {
      flex-direction: row;
    }
    &__socials {
      display: flex;
      justify-content: flex-start;
      gap: 32px;
      &__media {
        width: 24px;
        height: 24px;
      }
    }

    &__author {
      color: grey;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
    }
  }
}
